@import url(/styles/zerostyle.css);

body {
  min-height: 100vh;
  background: #c7c7c7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.task {

  .container {
    padding: 20px;
    margin: 0 auto;
    max-width: 720px;
  }

  &__title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: indigo;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-top: 10px;

    &-input {
      flex: 1 1 auto;
      margin: 5px 0px;

      input {
        width: 100%;
        border-radius: 10px;
        padding: 7px 10px;
        outline: none;
        border: none;
        font-size: 16px;
      }
    }

    &-add {
      padding-left: 10px;

      .btn {
        padding: 7px 12px;
        border-radius: 5px;
        border: none;
        background: indigo;
        color: #fff;
        cursor: pointer;
        margin-left: 5px;

        &:hover {
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.499);
        }
      }
    }
  }
}

.task__body {

  &-title {
    font-size: 25px;
    color: rgb(8, 146, 174);
    font-weight: 500;
    border-bottom: 1px solid rgb(8, 146, 174);
    padding-bottom: 8px;

    .fa-solid {
      font-size: 20px;
    }
  }
}